* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body{
    background-image: url('clouds.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: auto;
}


header {
    font-weight: 900;
    font-style: italic;
    padding-left: 10px; 
}

#weatherDash{
    font-size: 40px;
}

#icon{
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    /* width: 10%;
    height: auto; */
}

#currentTemp{
    display: block;
    border: 1px;
    font-size: 35px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#weather{
    /* background-color: #fff; */
    background-color: rgba(22, 22, 22, 0.5);
    /* filter: blur(10px); */
    border-radius: 20px;
}